<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Network Generator</title>

    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <script src="https://cdn.zoomcharts-cloud.com/1/latest/zoomcharts.js"></script>
    <script src="/static/visualization.js"></script>


</head>
<body>

<div class="info_box">
    <h1>SEIRT: <span id="currentTime"></span> Paths Traversed: <span id="paths_traversed"></span></h1>
</div>

<div id="demo" ondragover="networkDragOver(event)" ondrop="networkDragDrop(event)"></div>

</body>
</html>






